<%= @comment.body %>
 <h3><strong>post votes: <span id='post-vote-count'><%= @votes %></span></strong></h3>
<ul>
	<% @comment.comments.each do | comment | %>

		<li><%= comment.body %> 

		</li>
	<% end %>
</ul>