
<ul>
<% @post_search_documents.each do |post_search_document| %>
<!-- <#% binding.pry %> -->
<% post_search_document.pg_search_highlight %>
  <li>
  <p>Post:</p>
  <%= link_to post_search_document.searchable.title, post_search_document.searchable %>

</li>
<p>
	  <%= post_search_document.searchable.body %>
</p>


<% end %>
<% @comment_search_documents.each do |comment_search_document| %>
<!-- <#% binding.pry %> -->
  <li>
  <p>comment:</p>
  <%= link_to comment_search_document.searchable.body, comment_search_document.searchable %>

</li>
<p>
	  <%= comment_search_document.pg_search_highlight.html_safe %>
</p>


<% end %>
</ul>
<% else %>

	<p>No results found</p>
