<% if @pg_search_documents %>
<ul>
<% @pg_search_documents.each do |pg_search_document| %>
<!-- <#% binding.pry %> -->
  <% if pg_search_document.searchable_type === "Post" %>
  <li>
  <p>Post:</p>
  <%= link_to pg_search_document.searchable.title, pg_search_document.searchable %>

</li>
<p>
	  <%= pg_search_document.pg_search_highlight.html_safe %>

</p>
<% else %>
  <li>
  <p>Comment:</p>
  <%= link_to pg_search_document.searchable.body, pg_search_document.searchable %>
</li>
<% end %>

<% end %>
</ul>
<% else %>

	<p>No results found</p>
<% end %>