<ul class="categories">
  <% @categories.each do | category | %>
		<li class="topic">
			<%= link_to category.title, category %>
		</li>
	<% end %>
</ul>

<ul class="trending">
  <% @trending.each do | post | %>
		<li class="topic">
			<%= link_to post.title, post %>
		</li>
	<% end %>
</ul>