// // navbar

// main {
//    width: 70%
// }

.main-nav {
  ul {
    padding: 0;
    list-style: none;
  }

}

.main-nav-list {
  display: flex;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

.nav-title {
  margin-left: auto;
  margin-right: auto;

  color: rgba(85,172,238 ,1);
  font-size: 1.3em;

}

.main-nav-list li {
  cursor: pointer;
}
.main-nav-list li:hover{
  color: rgba(85,172,238 ,1);
}
.nav-title {
  color: rgba(85,172,238 ,1);
  font-size: 1.3em;
}
.main-nav-list li:not(:last-child):not(.nav-title) {
  margin-right: 10px;
}
.main-nav-list li  i:not(.fa-main-nav-list):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}
.main-nav-list li > button {
  font-size: 0.8em;
  border: 0;
  background: rgba(85,172,238 ,1);
  color: #fff;
  border-radius: 100px;
}

@media all and (max-width: 600px) {
  .main-nav
  {
    ul
    {
      flex-flow: column nowrap;
      padding: 0; 
      margin-bottom: 2em; 
    }  
    li {
      margin-bottom: .25em;
    }  
  }
  
}

// @media all and (min-width: 600px) {
//   .main    { flex: 3 0px; }
//   .main    { order: 1; }
//   .footer  { order: 2; }
// }

// topic items

// .categories
// {
//     padding: 0;
//     list-style: none;

//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   height: 400px;
//   background: yellow;
// }

// .categories li
// {
//   background: red;
//   color: white;
//   font-size: 1em;
//   text-align: center;
//   line-height: 200px;
  
//   width: 200px;
//   height: 200px;
//   margin: auto;
// }

.categories {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.categories li {
  // width: 32%;
}

@media (max-width: 400px) {
  .categories {
    display: block;
    .topic {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}




* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}

.topic {
  background: pink;
  padding: 20px;
}

.trending {

//   li{
//     display: table;
//     a{
//         padding-left: 10px;
//     }
//     span{
//         padding-left: 10px;
//     }
// }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin: 2em 0;
}

li {
  margin: 1em;
  margin-left: 3em;
}

li:before {
  content: '\f006';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  margin-top: .2em;
  color: pink;
}

}


// upvote
.votes {
  a {
     text-decoration: none; 
  }

}

