<h1><%= @category.title %></h1>
<ul class="cards">
<% @category.posts.each do |post| %>
	<li class="cards__item">
	<div class="card">
		<div class="card__content">
			<div class="card__title">
				<%= link_to post.title, post %> 
			</div>
			<p class="card__text"><%= post.body %> </p>
		</div>
		</div>
	</li>
	<% end %>
</ul>

